<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">{{ enterprise }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Modificando Rutas -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li
          routerLinkActive="activo"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item active"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li
          routerLinkActive="activo"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a class="nav-link" routerLink="/pruebas">About</a>
        </li>
        <li
          routerLinkActive="activo"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a class="nav-link" routerLink="/">Portfolio</a>
        </li>
        <li
          routerLinkActive="activo"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a class="nav-link" routerLink="/">Services</a>
        </li>
        <li
          routerLinkActive="activo"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item"
        >
          <a class="nav-link" routerLink="/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="https://i.postimg.cc/bNQp0RDW/1.jpg"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Slider One Item</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
          nulla, tempore. Deserunt excepturi quas vero.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="https://i.postimg.cc/pVzg3LWn/2.jpg"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Slider One Item</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
          nulla, tempore. Deserunt excepturi quas vero.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="https://i.postimg.cc/0y2F6Gpp/3.jpg"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Slider One Item</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
          nulla, tempore. Deserunt excepturi quas vero.
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
